body {
  background-color: #EEEEEE; }

h1 {
  font-size: 32pt; }

.div-primary {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px; }

.frm-fld-label {
  text-align: right; }

.frm-fld-input {
  text-align: left; }

.frm-fld-btn-save {
  text-align: left; }

.frm-bnt-save-file {
  width: auto;
  color: #CC0000; }

.div-input-file {
  width: 60px;
  background-color: #CCCCCA; }

.container-upload {
  height: 80px; }
  .container-upload a {
    margin: 10px;
    float: right; }

body.mgon nav {
  background-color: #bf0000; }

.modal-title {
  background-color: #bf0000;
  padding: 10px; }
  .modal-title h4 {
    margin: 0;
    font-size: 22px;
    color: white; }

.modal-footer {
  border-top: 1px solid #b2b2b2; }

.btn, .btn-large, .btn-small {
  background-color: #c23535; }
