body {background-color: #EEEEEE;}
h1 {font-size: 32pt;}
.div-primary {margin: auto; padding-left: 20px; padding-right: 20px;}
.frm-fld-label {text-align: right;}
.frm-fld-input {text-align: left;}
.frm-fld-btn-save {text-align: left;}
.frm-bnt-save-file {width: auto; color: #CC0000;}
.div-input-file {width: 60px; background-color: #CCCCCA;}

.container-upload{
    height: 80px;
    a{
        margin: 10px;
        float:right;
    }
}