<html>
<head>
<title>Upload File to Postgres</title>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css">

<script type="text/javascript" src="js/main.js"></script>

</head>
<body class="mgon"> 
  <nav>
    <div class="nav-wrapper">
        <a data-target="slide-out" class="sidenav-trigger" style="display: block">
            <i class="material-icons">menu</i>
        </a>
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">close</i></a></li>
        <li></li>
      </ul>
    </div>
  </nav>
  <div class="container-upload">
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">
    <i class="material-icons">file_upload</i>
  </a>
  </div>
    <div class="container">
        <div class="row">
            <div class="col s3">
                <div class="row">
                      <div class="card">
                        <div class="card-image">
                          <img src="https://img2.freepng.es/20180315/ulq/kisspng-microsoft-visio-computer-network-diagram-template-visio-cliparts-5aab1b114e8836.5051684115211630253217.jpg">
                          <span class="card-title">titulo.jpg</span>
                        </div>
                        <div class="card-content">
                          <p>titulo.jpg</p>
                        </div>
                        <div class="card-action">
                          <a href="#" class="waves-effect waves-light btn">Visualizar</a>
                        </div>
                      </div>
                  </div>
            </div>
          </div>   
    </div>
  
  <ul id="slide-out" class="sidenav">  
    <li><a href="#!"><i class="material-icons">cloud</i>Domain</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Core</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Ran</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>Reansport</a></li>
  </ul>
  

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-title">
        <h4>Subir Imagen</h4>
    </div>
    <form action = '/Upload_File' method = 'POST' enctype = 'multipart/form-data'></form>
    <div class="modal-content">
      
      <div class='div-primary'>
        
            <!--<div class = 'row'>
                <div class = 'frm-fld-label'>Seleccione la imagen a cargar</div>
                <div class = 'frm-fld-input'><input type = 'file' class = 'div-input-file' name = 'file_name' id = 'file_name'></div>
            </div>
            <div class = 'row'>
                <div class = 'frm-fld-btn-save'><button type = 'submit' class = 'frm-bnt-save-file'>Upload Your File</button></div>
            </div>-->
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input  type='file' class='div-input-file' name='file_name' id='file_name'>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        
    </div>
    </div>
    <div class="modal-footer">
        <button type='submit' class='frm-bnt-save-file waves-effect waves-light btn'>Upload Your File</button>
      <a href="#!" class="modal-close waves-effect waves-light btn">Close</a>
    </div>
</form>
  </div>



</body>
</html>